
.fa-bars{
    color:white;
}
.navbar__link_modal{
    color:rgb(243, 158, 30);
}
.navbar__btn_modal{
    color: rgb(243, 158, 30);
    font-size:16px;
    border: none;
    background-color:white;
}
.modal{
  text-align: center;
  
}